[Unit]
Description=Roshart Overflow ASP.NET Core Server

[Service]
WorkingDirectory=/home/roshart/app
ExecStart=/home/roshart/app/roshart
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=kestrel-roshart
User=nginx
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target